<%= form_with model: @genre, local: true do |f| %>

      <%= f.label :name, 'カテゴリー名' %>
      <br>
      <%= f.text_field :name, class:'form-control' %>
      <br>

      <%= f.submit '追加', class: 'btn btn-primary btn-block' %>
    <% end %>

  <table class="table">
      <thead>
        <tr>
          <th>
            | カテゴリー名
          </th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            </td>
              <%= link_to '編集', edit_genre_path(genre), class: 'btn-sm btn-primary' %>
            <td>
              <%= link_to '削除', genre_path(genre), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>

