<h1>編集</h1>
<%= form_with model: @user do |f| %>
	<table>
		<tr>
			<th><%= f.label :user_image ,"アイコン画像" %></th>
			<td><%= f.file_field :user_image %></td>
		</tr>
		<tr>
			<th><%= f.label :username ,"名前" %></th>
			<td><%= f.text_field :username %></td>
		</tr>
    <tr>
			<th><%= f.label :profile ,"自己紹介" %></th>
			<td><%= f.text_area :profile %></td>
		</tr>
	</table>
	<div>
    <p><%= f.submit "編集を完了する" %></p>
    <p><%= link_to "ユーザー一覧へ戻る", users_path %></p>
  </div>
<% end %>
