<h1>プロフィール</h1>

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <% if @user.user_image.attached? %>
      <%= image_tag @user.user_image, style: "border-radius: 50%;", :size => '200x200' %>
    <% else %>
      <%= image_tag "no-image.jpeg", style: "border-radius: 50%; width: 150px, height: 150px, object-fit:cover;" %>
    <% end %>
  </div>
  <div class="p-2 bd-highlight">
    <h3><%= @user.username %> さん</h3> 
    <p><br><%= @user.profile %></p>
  </div>
  <div class="p-2 bd-highlight">
    <% if @user.id == current_user.id %>
      <p><i class="fa-solid fa-pen"></i><%= link_to "編集", edit_user_path, class:"btn btn-white btn-lg fw-bold edit-user" %></p>
    <% end %>
  </div>
</div>

<h2><%= @user.username %>さんの投稿</h2>

<%= render 'animals/animal_each' %>
<p class="text-center mt-3 users-link"><%= link_to "ユーザーのみなさん", users_path, class:"btn btn-outline-dark" %></p>

<%= link_to 'いいね一覧', user_favorites_path(current_user.id) %>
