<h1>プロフィール</h1>

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <% if @user.user_image.attached? %>
      <%= image_tag @user.user_image, style: "border-radius: 50%;", :size => '200x200' %>
    <% else %>
      <%= image_tag "no-image.jpeg", style: "border-radius: 50%; width: 150px, height: 150px, object-fit:cover;" %>
    <% end %>
  </div>
  <div class="p-2 bd-highlight">
    <h3><%= @user.username %> さん</h3> 
    <p><br><%= @user.profile %></p>
  </div>
  <div class="p-2 bd-highlight">
    <% if @user.id == current_user.id %>
      <p><%= link_to "アカウント編集", edit_user_path(current_user), class:"btn btn-success" %></p>
    <% end %>
  </div>
</div>

<h3><%= @user.username %>さんの投稿</h3>

<div class="container">
  <div class="row">
    <% @animals.each do |animal| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-top text-center">
            <%= link_to animal_path(animal) do %>
              <% if animal.animal_images.attached? %>
                <%= image_tag animal.animal_images.first, width: '50%', height: '50%' %>
              <% else %>
                <%= image_tag "no-image.jpeg", :size => '300x200' %>
              <% end %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title"><%= link_to animal.animalname, animal_path(animal), class:"text-decoration-none" %></h4>
            <p class="card-text"><%= animal.body %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p><%= link_to "1つ前のページへ戻る", :back, class:"btn btn-light mt-4" %></p>
<p><%= link_to "ユーザー一覧ページ", users_path, class:"btn btn-light" %></p>
