<header class="header">
  <div class="header__left">
    <%= link_to root_path do %>
      <h1>世界でいちばんの動物たち</h1>
    <% end %>
    <%= form_tag(animals_search_path, method: :get) do %>
        <div>
          <%= text_field_tag "animal", "", { class: "form-control", placeholder: "おなまえ" } %>
        </div>

        <div>
          <%= text_field_tag "name", "", { class: "form-control", placeholder: "おなまえ" } %>
        </div>

        <div>
          <%= text_field_tag "keyword", "", { class: "form-control", placeholder: "キーワード" } %>
        </div>

        <%= submit_tag "検索", class: 'd-none' %>
    <% end %>
  </div>
  <div class="header__right">
      <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
</header>
