<header class="sticky-top">
  <nav class="navbar navbar-expand navbar-white" style="background-color:#d2b48c;">
    <div class="container-fluid">
      <%= link_to root_path, class:"navbar-brand" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
          <ul class="navbar-nav d-none d-sm-block">
            <li class="nav-item active">
              <%= link_to "ペットの投稿", new_animal_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "施設の投稿", new_facility_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ペットのみんな", animals_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "みなさんのおすすめ施設", facilities_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザーのみなさん", users_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'いいね', user_favorites_path(current_user.id), class:"nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav d-block d-sm-none">
            <li class="nav-item dropdown">
              <div class="dropdown d-flex flex-row">
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  投稿する
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to "ペットの投稿", new_animal_path, class:"nav-link" %></li>
                  <li><%= link_to "施設の投稿", new_facility_path, class:"nav-link" %></li>
                </ul>
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  一覧ページ
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to "ペットのみんな", animals_path, class:"nav-link" %></li>
                  <li><%= link_to "みなさんのおすすめ施設", facilities_path, class:"nav-link" %></li>
                  <li><%= link_to "ユーザーのみなさん", users_path, class:"nav-link" %></li>
                </ul>
                <ul class="list-unstyled">
                  <li><%= link_to 'いいね', user_favorites_path(current_user.id), class:"nav-link" %></li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <div class="dropdown d-flex flex-row">
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag (current_user.user_image.presence || 'no-image.jpeg'), style: "border-radius: 50%;", :size => '50x50'  %>
                    <%= current_user.username %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to "マイページ", user_path(current_user.id), class:"dropdown-item" %></li>
                  <li><%= link_to "アカウント設定", edit_user_registration_path, class:"dropdown-item" %></li>
                  <li><%= link_to "プロフィール設定", edit_user_path(current_user), class:"dropdown-item" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
                  <li><%= link_to "退会", registration_path(current_user), data: { confirm: "アカウントを削除してよろしいですか？", turbo_confirm: "アカウントを削除してよろしいですか？" }, method: :delete, class:"dropdown-item text-danger" %></li>
                </ul>
              </div>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <li><%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary my-2 mx-3 header_login' %></li>
            <li><%= link_to "登録する", new_user_registration_path, class: 'btn btn-secondary my-2 mx-3' %></li>
            <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-success my-2 mx-3" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
