<%= form_with model: facility do |f| %>
  <% if @facility.errors.any? %>
    <div class="notification bg-warning">
      <h2><%= pluralize(@facility.errors.count, "error") %>が発生しています。</h2>
      <ul>
        <% @facility.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :"施設名", class:"fw-bold" %>
    <%= f.text_field :facility_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :施設紹介文, class:"fw-bold" %>
    <%= f.text_area :introduction, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :住所, class:"fw-bold" %>
    <%= f.text_field :address, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :登録施設のホームページへのリンク, class:"fw-bold" %>
    <%= f.text_field :link_to_site, class:"form-control" %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="text-center mt-3">
    <p><%= f.submit "保存", class:"btn btn-primary" %></p>
    <p><%= link_to '戻る', :back %></p>
  </div>
<% end %>
