<h1><%= @facility.facility_name %></h1>
<table class="table mt-4">
  <tr>
   <th>施設紹介</th>
   <td><%= @facility.introduction %></td>
  </tr>
  <tr>
   <th>住所</th>
   <td><%= @facility.address %></td>
  </tr>
  <tr>
   <th>ホームページへのリンク</th>
   <td><%=link_to @facility.link_to_site, @facility.link_to_site, target: :_blank %></td>
  </tr>
</table>

<div id="map"></div>

<div>
  <script>
    let map;

    function initMap() {
      // geocoderを初期化
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
        center: {
          lat: gon.facility.latitude,
          lng: gon.facility.longitude
        },
        // マップの倍率はお好みで
        zoom: 17,
      });

      marker = new google.maps.Marker({
        // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
        position: {
          lat: gon.facility.latitude,
          lng: gon.facility.longitude
        },
        map: map
      });
    }
  </script>

  <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
  </script>
  <style type="text/css">
    #map { height: 500px;
          width: auto;}
  </style>
</div>

<% if @facility.user_id == current_user.id %>
  <div class="text-center mt-3">
    <%= link_to "編集", edit_facility_path(@facility), class:"btn btn-success" %>
    <%= link_to @facility, method: :delete, data: {confirm: "削除しますか？"} do %>
      <p>この施設を削除する</p>
    <% end %>
  </div>
<% end %>
