<div class="home">
  <p>皆さんにとっての世界一を教えてください</p>
  <%= form_tag(tags_search_path, method: :get) do %>
    <%= label_tag :キーワード検索 %>
    <%= text_field_tag "name", "", { class: "form-control mb-4", placeholder: "動物の種類など" } %>
    <%= submit_tag "探す" ,{ class: "form-control btn-primary mb-4" } %>
  <% end %>
  <% @categories.roots.each do |category| %>
    <%= link_to animals_path do %>
      <%= category.name %>
    <% end %>
      <% category.children.each do |children_category| %>
        <%= children_category.name %>
        <% children_category.children.each do |grandchildren_category| %>
          <%= grandchildren_category.name %>
        <% end %>
      <% end %>
  <% end %>

  <%= form_tag animals_path, method: :get, class: 'boards__searchForm' do %>

    <% @tags.each do |tag| %>
        <div class="tag-box">
          <%= link_to tag.name, animals_path(name: tag.id) %>
        </div>
    <% end %>
        <div class="tag-box">
          <%= link_to "ペットのみんな", animals_path %>
        </div>
  <% end %>
</div>
      
