<div class="container mt-5">
  <div class="row">
    <% @animals.each do |animal| %>
      <div class="col-md-4">
        <div class="card mt-3">
          <div class="d-flex flex-row user">
            <%= link_to(user_path(animal.user.id), class:"btn btn-white btn-lg user-btn") do %>
              <%= image_tag (animal.user.user_image.presence || 'no-image.jpg'), style: "border-radius: 50%;", :size => '50x50', class:"img-fluid"  %>
              <%= animal.user.username %>
            <% end %>
            <div class="ms-auto">
              <% if animal.user == current_user %>
                <i class="fa-solid fa-pen"></i><%= link_to "編集", edit_animal_path(animal), class:"btn btn-white fw-bold animal-edit-button" %>
              <% end %>
            </div>
          </div>
          <div class="card-top text-center">
            <%= link_to animal_path(animal) do %>
              <% if animal.animal_images.attached? %>
                <%= image_tag animal.animal_images.first, :size => '400x280', :alt => "animal_images", class:"d-none d-sm-block" %>
                <%= image_tag animal.animal_images.first, :size => '600x300', :alt => "animal_images", class:"d-block d-sm-none img-fluid" %>
              <% end %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title animal-card"><%= link_to animal.animalname, animal_path(animal), class:"btn btn-white btn-lg" %></h4>
          </div>
          <div class="card-text text-center" id="favorite_buttons_<%= animal.id %>">
            <%= render 'shared/favorite', animal: animal %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
