<div class="container mt-5">
  <div class="row">
    <% @animals.each do |animal| %>
      <div class="col-md-4">
        <div class="card mt-3">
          <div class="d-flex flex-row user">
            <%= link_to(user_path(animal.user.id), class:"btn btn-white btn-lg user-btn") do %>
              <%= image_tag (animal.user.user_image.presence || 'no-image.jpeg'), style: "border-radius: 50%;", :size => '50x50'  %>
              <%= animal.user.username %>
            <% end %>
          </div>
          <div class="card-top text-center">
            <%= link_to animal_path(animal) do %>
              <% if animal.animal_images.attached? %>
                <%= image_tag animal.animal_images.first, :size => '400x280', :alt => "animal_images" %>
              <% end %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title animal-card"><%= link_to animal.animalname, animal_path(animal), class:"btn btn-white btn-lg" %></h4>
            <% if user_signed_in? %>
              <% if current_user.already_favorited?(animal) %>
                <%= link_to animal_favorites_path(animal), method: :delete do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              <% else %>
                <%= link_to animal_favorites_path(animal), method: :post do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if animal.user == current_user %>
            <%= link_to "編集", edit_animal_path(animal), class:"btn btn-outline-dark animal-edit-button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
