<h1>詳細</h1>

<h3>ペットの画像</h3>
<% if @animal.animal_image.attached? %>
  <%= image_tag @animal.animal_image %>
<% else %>
  <%= image_tag "no-image.jpeg" %>
<% end %>

<h3>ペットのおなまえ</h3>
<%= @animal.animalname %>

<h3>投稿文</h3>
<%= @animal.body %>

<h3>性別</h3>
<%= @animal.human_attribute_enum(:male_or_female) %>

<% if @animal.user.id == current_user.id %>
  <p><%= link_to "編集", edit_user_path(current_user) %></p>
<% end %>
<p><%= link_to "ペットのみんなへ戻る", animals_path %></p>
