<h2>
  おなまえ：<%= @animal.animalname %>
  <% if @animal.human_attribute_enum(:male_or_female) == "オス" %>
    くん
  <% else %>
    ちゃん
  <% end %>
</h2>

<div class="card" style="width: 50rem;">
    <% if @animal.animal_images.attached? %>
    <% @animal.animal_images.each do |image| %>
      <%= image_tag image %>
    <% end %>
    <% else %>
    <%= image_tag "no-image.jpeg" %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <%= @animal.human_attribute_enum(:male_or_female) %>
    </h5>
    <p class="card-text"><%= @animal.body %></p>
    <% if current_user.already_favorited?(@animal) %>
      <%= link_to "いいねを外す", animal_favorites_path(@animal), method: :delete %>
    <% else %>
      <%= link_to "いいね", animal_favorites_path(@animal), method: :post %>
    <% end %>
    <% if @animal.user.id == current_user.id %>
      <p><%= link_to "編集", edit_animal_path, class:"btn btn-success" %></p>
    <% end %>
    <p><%= link_to '戻る', :back, class:"btn btn-warning" %>
  </div>
</div>
