<div class="section has-background-info-light">
    <div class="columns">
        <%= form_with url: tags_search_path, method: :get do |f| %>
            <div class="column is-7">   
                <%= f.text_field :name, class: "input is-dark", placeholder: "エリア名" %>
            </div>
            <%= f.submit"探す", class: "button is-warning" %>
        <% end %>
    </div>
    <div>
  <h4>検索結果：<%= @animals.count %>件</h4>
  <div>
    <% @animals.each do |animal| %>
      <div>
        <div>
          <%= link_to animal_path(animal) do %>
            <div>
              <%= image_tag animal.animal_image.presence || 'no-image.jpeg', alt: "動物画像" %>
            </div>

            <div>
              <p><%= animal.animalname %></p>
              <p><%= animal.body %></p>
            </div>

            <div>
              <% animal.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
 </div>
