<!DOCTYPE html>
<html>
  <head>
    <title>Yeah</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="https://kit.fontawesome.com/05c3d9d690.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class-="footerFixed">
      <%= render 'shared/header_nav' %>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      
      <%= yield %>
      <%= render 'shared/footer' %>
      <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    </div>
  </body>
</html>
